@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: #f4f9ff;
    color: #333;
    font-size: 0.875rem;
}

.container {
    height: auto;
    max-width: 1000px;
    /* margin-inline: 5px;→では中央配置ができないので、margin-inline:auto;で中央揃えして、それからpadding-inlineで余白を付けるとレスポンシブや全体のレイアウトにも問題ない */
    margin-inline: auto;
    padding-inline: 5px;
}

/* header */

.header {
    margin-top: 3rem;
}

h1 img {
    width: 180px;
    height: 30px;
}

/* mainvisual */

.mainvisual img {
    /* max-width: 100%;->大元のcontainerですでにmax-widthを指定しているのでwidthでも問題なく画像は縮小してくれる */
    width: 100%;
    height: auto;
}

/* index */
.index {
    background-color: #fff;
    padding-block: 30px;
    margin-top: 50px;
}

.index__content-wrap,
.detail__content-wrap,
.footer {
    width: 60%;
    height: auto;
    margin-inline: auto;
}

.section-title {
    font-size: 21px;
    margin-bottom: 10px;
}

/*  */
li {
    list-style-position: inside;
    padding-bottom: 20px;
}

.detail {
    padding: 40px 0 100px 0;
}

.detail__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.detail__img,
.detail__item {
    width: calc(100% / 2);
    height: 270px;
}

.detail__img img {
    width: 270px;
    height: 100%;
}

.border {
    border-bottom: 1px solid #ccc;
}

.detail__title {
    font-size: 18px;
    padding-bottom: 15px;
}

.detail__information {
    padding-block: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.detail__information dt {
    width: 25%;
}

.detail__information dd {
    width: 75%;
}

.detail__text {
    padding-block: 20px;
}

.detail__link {
    color: #000;
    font-size: 14px;
}

.detail__link:hover {
    opacity: 0.5;
}

.footer small {
    padding-bottom: 20px;
    font-size: 9px;
}

@media (max-width: 769px) {
    .index__content-wrap,
    .detail__content-wrap,
    .footer {
        width: 70%;
    }
    .detail__content {
        flex-direction: column;
    }

    .detail__img,
    .detail__item {
        width: 100%;
        height: auto;
    }

    .detail__img img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .index__content-wrap,
    .detail__content-wrap,
    .footer {
        width: 93%;
    }
}
